body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: rgb(34, 158, 207);
}

table {
    border-collapse: collapse;
}

table tr {
    border-bottom: 1pt solid #dddddd;
    height: 35px;
    /* border-bottom: 1px solid #dddddd; */
}

table tr td {
    text-align: center;
    padding: 0 15px;
    height: 50px;
}

button {
    border-radius: 8px;
}

button:hover {
    cursor: pointer;
}