<!DOCTYPE html>
<html>

<head>
    <title>
        <%= name %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Hello
        <%= id %>
            <%= name %>
    </h1>
    <p>Wellcome to TKU !</p>

</body>

</html>