<!DOCTYPE html>
<html>

<head>
    <title>
        Edit
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script>
    </script>
    <style>
        .form-area {
            padding-right: 30%;
            padding-left: 30%;
        }
        
        .form-area h1 {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="form-area">
        <h1>
            <%= title %>
        </h1>
        <form name="addForm" action="/products/add" method="post">
            <div class="form-group">
                <label for="prodIdInput">Product ID:</label>
                <input type="text" class="form-control" name="id" id="prodIdInput" aria-describedby="idHelp" readonly>
            </div>
            <div class="form-group">
                <label for="prodNameInput">Product name:</label>
                <input type="text" class="form-control" name="name" id="prodNameInput" aria-describedby="nameHelp">
            </div>
            <div class="form-group">
                <label for="prodPriceInput">Product price:</label>
                <input type="text" class="form-control" name="price" id="prodPriceInput" aria-describedby="priceHelp">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
</body>

</html>